// Mixins Here

.custom-btn(@bg-color:black, @width:100px, @font-color:#fff){
    display: block;
    background-color: @bg-color;
    cursor: pointer;
    width: @width;
    font-size: 2rem; 
    border-radius: 5px;
    color:@font-color;
    text-align: center;
    // padding: 2% 0;
    
    &:hover{
      background-color:blue;
      color:@bg-color;
    }
}